<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css"/>
        

        
        
        <header>
            <div class = "neon-wrapper">
                <span class = "txt"><strong>Desktop Hardware</strong></span>
                <span class="gradient"></span>
                <span class="dodge"></span>
            </div>
            
        </header>
        <hr />
        
        <nav>
            <a class="link" href="/">HOME</a>
            <a class="link" href="/cpu">CPU</a>
            <a class="link" href="/gpu">GPU</a>
            <a class="link" href="/memory">MEMORY</a>
            <a class="link" href="/powersupply">POWER SUPPLY</a>
        </nav>
        
        
    </head>