<% include partials/header.ejs %>
  
    <body>
        <br /><br />
        
        <main>
            
            <div id='maincontent'>
                <figure>
                    <img class="img-rounded" src="img/cpu.jpg" alt="Picture of Computer" width="250"/>
                </figure>
            
                <div>
                    <h2>The Central Processing Unit (CPU)</h2>
                    <p>The CPU is the control center that is responsible for carrying out tasks</p>
                    <p>It is also responsible for telling all the other components what to do.</p>
                    <p>The CPU is generally really small, and is considered to be the heart of the computer</p>
                    <p>The CPU will often times have a CPU coolder attached with a heatsink.</p>
                    <p>Each CPU is comprised of a finite number of cores</p>
                    <p>Each core will be a unit that can process many computing tasks</p>
                    <p>Some CPU's have integrated graphics that will handle most of the capabilities of GPUs</p>
                    <p>The speed is measure in GHz</p>
                    <a href="https://www.trustedreviews.com/news/what-is-a-cpu-2950255">More CPU information</a>
                </div>
            </div>
        </main>
        
<% include partials/footer %>