<% include partials/header.ejs %>
  

    <body>

        
        <br /><br />
        
        <main>
            
            <div id='maincontent'>
                <figure>
                    <img src="img/computer.png" alt="Picture of CPU" width="250"/>
                </figure>
                <div>
                    <p>Welcome to the Desktop Hardware page!   </p>
                    <p>This site is to help explain what is inside of a desktop computer </p>
                    
                    <p>There are multiple items required to build a computer</p>
                    <p>This site will cover basic information on the major components in a computer</p>
                    <p>There are other accessories that can also be included in a computer (mouse, display, keyboard, etc...)</p>
                    
                    <p>Each item plays a different role, and each item helps create the desktop computer as a whole</p>
                    <br>
                    <h6>Contact me at: </h6>
                    <h6><%= outEmail %></h6>
                    <h6><%= outPhone %></h6>
                    
                    <br /><br />
                </div>
            </div>
        </main>

<% include partials/footer %>