<% include partials/header.ejs %>
    <body>
        
        <br /><br />
        
        <main>
            
            <div id='maincontent'>
                <div class="flex-container">
                    <br /><br />
                    <figure>
                        <img class= "img-rounded" src="img/ssd.jpg" alt="Picture of SSD" width="250"/>
                        
                    </figure>
                    
                    <br /><br /><br /><br /><br /><br /><br /><br />
                    
                    <figure>
                        <img class= "img-rounded" src="img/DRAM.jpg" alt="Picture of DRAM" width="250"/>
                    </figure>
                    
                </div>
                <div>
                    <h2>Memory</h2>
                    <br />
                    <h3>Hard Drive</h3>
                    <p>The hard drive is used as a more permanent storage area.</p>
                    <p>All applications, Operating System, Software, etc... will be stored in the hard drive</p>
                    <p>There are currently three types of hard drives</p>
                    <ol>
                        <li>SSD (Solid State Drive)</li>
                        <li>HDD (Hard Disk Drive)</li>
                        <li>m.2 SSD</li>
                    </ol>
                    <p>The fastest is currently m.2 SSDs, and the slowest is the HDD</p>
                    <p>This also means that the HDD is the cheapest while the m.2 SSDs is the most expensive</p>
                    <p>Hard drives speeds are measured by Read and Write speeds</p>
                    <br />
                    <h3>RAM</h3>
                    <p>DRAM or Dynamic Random Access Memory is also a unit that stores memory</p>
                    <p>The difference between RAM and Hard Drives is that RAM will be a temporary place to hold memory</p>
                    <p>This is a place to "cache" information or temporarily store information so that your computer</p>
                    <p>can grab information from memory quicker</p>
                    <p>The many applications will be using RAM to store all of the information needed to run</p>
                    <p>The speed is measured in GHz</p>
                    <a href="https://www.enterprisestorageforum.com/storage-hardware/types-of-computer-memory.html">More Memory information</a>
                </div>
            </div>
        </main>
        
<% include partials/footer %>