<% include partials/header.ejs %>

    <body>
        <br /><br />
        
        <main>
            
            <div id='maincontent'>
                <figure>
                    <img class="img-rounded" src="img/powersupply.jpg" alt="Picture of Power Supply" width="250"/>
                </figure>
            
                <div>
                    <h2>Power Supply</h2>
                    <p>The power supply is used to store all of the electricity from the socket</p>
                    <p>It is recommend that users use a power strip that protects against shortages or electric spikes</p>
                    <p>Each power supply will be able to maintain a certain level of wattage.</p>
                    <p>Each power supply connects to all of the components in your computer which includes:</p>
                    <ul>
                        <li>MotherBoard</li>
                        <li>Video Card</li>
                        <li>Hard Drives</li>
                        <li>Fans</li>
                    </ul>
                    <a href="https://www.lifewire.com/power-supply-unit-2618158">More Powersupply information</a>
                </div>
            </div>
        </main>
        
<% include partials/footer %>